:root {
  --back: #1d1d1d;
  /* default: #2b2b31 */
  --front: #ffffff;
  /* default: #f0eed3 */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;

  background-color: var(--back);
  color: var(--front);

  transition: background-color 300ms linear;
}

.center {
  display: block;
  padding: 0px 20px;
  max-width: 550px;
  margin: auto;
  margin-top: 20px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 5px;
  width: 100%;
  font-size: 18pt;
}

a:link {
  color: magenta;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  color: var(--back);
  background-color: var(--front);
}

/* https://www.joshwcomeau.com/css/custom-css-reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}